/* GLOBAL STYLES */
html{

}

body{
  margin-bottom: 120px;
  background-color: #f06796;
  color: #231f20;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, arial, sans-serif;
  font-weight: normal;
  font-weight: 300;
}

h1,h2,h3,h4,h5,p,a{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, arial, sans-serif;
  font-weight: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

h1{
  display: none;
}

/* Home copy */
h2{
  color: #EF6694;
  font-size: 24px;
  font-style: italic;
  line-height: 60px;
  text-align: center;
}

h4{

}

button, .button, button:visited, .button:visited, button.disabled, .button.disabled{
  display: block;
  width: 126px;
  height: 36px;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  opacity: 1;
}

button:hover, .button:hover, button:active, .button:active{
  background-color: rgba(255,255,255,0.15);
}

button.disabled:hover, .button.disabled:hover, button.disabled:active, .button.disabled:active{
  background-color: rgba(255,255,255,0);
}

.agency-or-porn-logo{
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
  background-image: url('../img/agency-or-porn-logo.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  opacity: 1;
}
#loading .agency-or-porn-logo{
  display: block;
  position: absolute;
  top: -252px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-animation: logo-fade-in 0.5s ease-in 0s 1 normal;
  animation: logo-fade-in 0.5s ease-in 0s 1 normal;
  /*-webkit-animation: logo-slide-out 1s ease-in 0s 1 normal;
  animation: logo-slide-out 1s ease-in 0s 1 normal;*/
}
@-webkit-keyframes logo-fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframesopacity: 0; logo-fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
/*
@-webkit-keyframes logo-slide-out {
    0%   {transform: translate(-50%, -50%);}
    100% {transform: translate(-50%, -200%);}
}
@keyframesopacity: 0; logo-slide-out {
    0%   {transform: translate(-50%, -50%);}
    100% {transform: translate(-50%, -200%);}
}
*/

.fixed-footer{
  opacity: 0;
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: -120px;
  left: 0;
  height: 120px;
  padding: 10px 5px;
  background: white;
  transition: opacity 1s ease-in-out;
}
.fixed-footer.show {
  opacity: 1;
}
/* Footer copy */
h3{
  display: block;
  color: #58595B;
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 10px;
  text-align: center;
}
h3 a, h3 a:visited{
  color: #58595B;
  font-weight: 600;
}
h3 a:hover, h3 a:active{
  color: #000;
}

/* SHARE BUTTONS */
.social-buttons{
  display: block;
  width: auto;
  margin: 20px 0 0 0;
}
.social-buttons a{
  color: rgba(0,0,0,0);
}
.facebook-share{
  display: block;
  text-align: center;
}
.twitter-share{
  display: block;
  margin: 15px 0 0 0;
  text-align: center;
}

/* START PAGE */
#start{
  height: 100%;
}
#start .container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/legs-vertical.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 768px 1024px;
  background-size: contain;
}
#start .start-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
/* Title */
#start h2{
  margin: 30px auto 0 auto;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
}

#start h2 a{
  margin: 30px auto 0 auto;
}

/* QUESTION PAGE */
#question{

}
#question .container{
  position: absolute;
  width: 100%;
  height: 100%;
}
#question .container .row{
  height: 100%;
}
#question h2 {
  z-index: 2;
  position: relative;
  background-color: white;
}
.question-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0 0 0;
  text-align: center;
}
.question-circle {
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 40px;
  height: 40px;
  margin: auto;
  background-image: url('../img/agency-or-porn-logo-pink.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.question-circle img{
  width: 20px;
  height: 20px;
  margin: 10px;
}
.question-half{
  height: 50%;
  padding: 0;
}
.question-half .vert-centered{
  position: absolute;
  width: 100%;
  height: 200px;
  margin: auto;
  vertical-align: middle;
  overflow: hidden;
}
.question-half button, .question-half .button{
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  bottom: 0px;
  margin: auto;
}
.question-image {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
h5{
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 13px;
}
.question-agency{
  background-color: #F2F2F3;
}
.question-agency .vert-centered{
  top: 0;
  bottom: 0;
}
.question-porn{
  background-color: #EF6694;
}
.question-porn .vert-centered{
  top: 0;
  bottom: 0;
}
.question-year{
  margin-bottom: 10px;
  color: #EF6694;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 20px;
}
.question-cast{
  font-size: 14px;
  line-height: 20px;
}
.question-cast .row{
  max-width: 350px;
  margin: 0 auto;
}
.question-url{
  margin-bottom: 10px;
}
.question-url a, .question-url a:visited{
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 20px;
}
.question-description{
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
  line-height: 20px;
}
.question-agency h5{
  color: #EF6694;
}
.question-agency .correct {
  color: #EF6694;
}
.question-porn .correct {
  color: white;
}
.score-wrapper {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  background: white;
}
.score img {
  float: left;
  width: 20px;
  height: 20px;
}
.score {
  display: block;
  height: 30px;
  padding: 5px;
  color: #EF6694;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: right;
}
.score .white-check{

}
.score .pink-check{
  display: none;
}
.score-right{
  background-color: #EF6694;
  color: white;
}
.score-wrong{
  background-color: #F2F2F3;
}

/* Angular Animate FADE*/
.fade.ng-animate {
  transition: opacity 1s ease-in-out;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

/* Angular Animate SLOW FADE*/
.fade-slow.ng-animate {
  transition: opacity 2s ease-out;
}
.fade-slow.ng-enter {
  opacity: 0;
}
.fade-slow.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade-slow.ng-leave {
  opacity: 1;
}
.fade-slow.ng-leave.ng-leave-active {
  opacity: 0;
}

/* Background Max */
@media only screen and (min-width: 528px) {
  #start .container{
    background-size: 528px 825px;
  }
}

/* Horizontal Layout = Larger than Portrait iPad */
@media only screen and (min-width: 768px) {

}

/* Desktop = Larger than Landscape iPad */
@media only screen and (min-width: 1024px) {
  body{
    margin-bottom: 0;
  }
  .agency-or-porn-logo{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    bottom: auto;
    margin: auto;
  }
  #loading .agency-or-porn-logo{
    top: -270px;
  }
  #start .container{
    background-image: url('../img/legs-horizontal.jpg');
    background-size: 100% auto;
    background-position: center bottom 48px;
  }
  #start .start-wrapper .agency-or-porn-logo{
    top: -78px;
  }
  /* Title */
  #start h2{
    max-width: 360px;
    margin: -48px auto 0 auto;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
  }
  .fixed-footer{
    position: fixed;
    bottom: 0;
    height: 48px;
    padding: 10px;
  }
  /* Footer copy */
  h3{
    line-height: 30px;
    letter-spacing: 3px;
  }

  /* SHARE BUTTONS */
  .social-buttons{
    position: absolute;
    top: 0;
    right: 0;
    width: 260px;
    margin: 10px 0 0 0;
  }
  .facebook-share{
    float: left;
    display: inline-block;
    text-align: left;
  }
  .twitter-share{
    float: left;
    display: inline-block;
    margin: 3px 0 0 10px;
    text-align: left;
  }

  #question h2 {
  font-size: 48px;
  line-height: 120px;
  }
  #question h2 span{
    margin: 0 4px;
  }
  .question-wrapper{
    height: 100%;
    padding: 0;
    background-image: url('../img/question-bg.png');
    background-position: top center;
    background-repeat: repeat-y;
    background-size: 2560px 1px;
  }
  .question-circle {
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
  .question-circle img{
    width: 40px;
    height: 40px;
    margin: 30px;
  }
  .question-half{
    height: 100%;
  }
  .question-agency button:hover, .question-agency .button:hover, .question-agency button:active, .question-agency .button:active{
    background-color: rgba(239,102,148,0.08);
  }
  .question-agency button.disabled:hover, .question-agency .button.disabled:hover, .question-agency button.disabled:active, .question-agency .button.disabled:active{
    background-color: rgba(255,255,255,0);
  }
  .question-half .vert-centered{
    top: 120px;
    bottom: 48px;
    height: 360px;
  }
  .question-image {
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  h5{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
  }
  .question-year{
    margin-bottom: 10px;
    line-height: 24px;
  }
  .question-year a, .question-year a:visited{
    line-height: 24px;
  }
  .question-year a:hover, .question-year a:active{
    text-decoration: underline;
  }
  .question-cast{
    line-height: 24px;
  }
  .question-url{
    margin-bottom: 10px;
  }
  .question-url a, .question-url a:visited{
    line-height: 24px;
  }
  .question-url a:hover, .question-url a:active{
    text-decoration: underline;
  }
  .question-description{
    max-width: 350px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    font-size: 14px;
    line-height: 24px;
  }
  button.next, .button.next{
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }
  button.next:hover, .button.next:hover, button.next:active, .button.next:active{
    opacity: 0.8;
  }

  .score-wrapper {
    top: 120px;
    left: 0;
    width: 160px;
    height: 50px;
    margin: auto;
    padding: 11px 0;
    border-radius: 0 0 5px 5px;
  }
  .score img {
    width: 28px;
    height: 28px;
    margin: 0 5px 0 0;
  }
  .score {
    float: left;
    display: inline-block;
    width: 80px;
    height: 50px;
    padding: 0 5px;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
  }
  .score .white-check{
    display: none;
  }
  .score .pink-check{
    display: inline-block;
  }
  .score-right, .score-wrong{
    background-color: transparent;
    color: #EF6694;
  }
}

/* Large Desktop = Wider than 1440px */
@media only screen and (min-width: 1440px) {

}

/* Desktop = Browser Height bigger than 550px */
@media only screen and (min-width: 1024px), @media only screen and (min-height: 550px) {
  /*----------------- CHANGE THE SIZE BELOW THIS TO FIT ANY HEIGHT!! -----------------*/
  .question-half .vert-centered{
    height: 360px;
  }
  .question-image {
    width: 300px;
    height: 300px;
  }
}

/* Desktop = Browser Height bigger than 610px */
@media only screen and (min-width: 1024px), @media only screen and (min-height: 610px) {
  .question-half .vert-centered{
    height: 400px;
  }
  .question-image {
    width: 340px;
    height: 340px;
  }
}

/* Desktop = Browser Height bigger than 690px */
@media only screen and (min-width: 1024px), @media only screen and (min-height: 710px) {
  .question-half .vert-centered{
    height: 460px;
  }
  .question-image {
    width: 400px;
    height: 400px;
  }
}

/* Desktop = Browser Height bigger than 790px */
@media only screen and (min-width: 1024px), @media only screen and (min-height: 810px) {
  .question-half .vert-centered{
    height: 560px;
  }
  .question-image {
    width: 500px;
    height: 500px;
  }
}

/* Desktop = Browser Height bigger than 910px */
@media only screen and (min-width: 1024px), @media only screen and (min-height: 910px) {
  .question-half .vert-centered{
    height: 660px;
  }
  .question-image {
    width: 600px;
    height: 600px;
  }
}
