/* GLOBAL STYLES */
html{

}

body{
  background-color: rgba(239,102,148,1);
  color: #231f20;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, arial, sans-serif;
  font-weight: normal;
  font-weight: 300;
}

h1,h2,h3,h4,h5,p,a{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, arial, sans-serif;
  font-weight: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

h1{
  display: none;
}

/* Home copy */
h2{
  color: rgba(239,102,148,1);
  font-size: 24px;
  font-style: italic;
  line-height: 60px;
  text-align: center;
}

h4{

}

h5{

}

button, .button, button:visited, .button:visited, button.disabled, .button.disabled{
  display: block;
  width: 126px;
  height: 36px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(255,255,255,0);
  opacity: 1;
}

button:hover, .button:hover, button:active, .button:active{
  background-color: rgba(255,255,255,0.2);
}

button.disabled:hover, .button.disabled:hover, button.disabled:active, .button.disabled:active{
  background-color: rgba(255,255,255,0);
}

.agency-or-porn-logo{
  position: relative;
  top: 100px;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
  background-image: url('../img/agency-or-porn-logo.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  opacity: 1;
}
#loading .agency-or-porn-logo{
  -webkit-animation: logo-fade-in 0.5s ease-in 0s 1 normal;
  animation: logo-fade-in 0.5s ease-in 0s 1 normal;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes logo-fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
/* Standard syntax */
@keyframesopacity: 0; logo-fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.fixed-footer{
  z-index: 2;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 48px;
  padding: 10px;
  background: white;
}

/* Footer copy */
h3{
  color: #58595B;
  font-size: 9px;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: left;
}

/* LOADING PAGE */
#loading{

}

/* START PAGE */
#start{
  height: 100%;
}
#start .container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/legs-vertical.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 768px 1024px;
  background-size: contain;
}
/* Title */
#start h2{
  margin: 120px 0 20px 0;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
}

/* QUESTION PAGE */
#question{

}
#question .container{
  position: absolute;
  width: 100%;
  height: 100%;
}
#question .container .row{
  height: 100%;
}
#question h2 {
  z-index: 2;
  position: relative;
  background-color: white;
}
#question h2 span{
  margin: 0 2px;
}
.question-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.question-circle {
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 40px;
  height: 40px;
  margin: auto;
  background-image: url('../img/agency-or-porn-logo-pink.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  color: rgba(239,102,148,1);
  font-size: 13px;
  text-align: center;
  line-height: 30px;
}
.question-circle img{
  width: 20px;
  height: 20px;
  margin: 10px;
}
.question-half{
  height: 50%;
  padding: 0;
}
.question-half .vert-centered{
  position: absolute;
  width: 100%;
  height: 165px;
  margin: auto;
  vertical-align: middle;
  overflow: hidden;
}
.question-half button, .question-half .button{
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  bottom: 0px;
  margin: auto;
}
.question-image {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto 5px auto;
}
.question-agency{
  background-color: #F2F2F3;
}
.question-agency .vert-centered{
  top: 60px;
  bottom: 0;
}
.question-porn{
  background-color: rgba(239,102,148,1);
}
.question-porn .vert-centered{
  top: 0;
  bottom: 48px;
}
.question-year{
  margin-bottom: 5px;
  color: #EF6694;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 20px;
}
.question-cast{
  margin-bottom: 10px;
  font-size: 14px;
}
.question-cast .row{
  max-width: 350px;
  margin: 0 auto;
}
.question-url{
  margin-bottom: 10px;
}
.question-url a, .question-url a:visited{
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 20px;
}
.question-url a:hover, .question-url a:active{
  text-decoration: underline;
}
.question-description{
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
  line-height: 20px;
}

/* Angular Animate FADE*/
.fade.ng-animate {
  transition: opacity 1s ease-in-out;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

/* Angular Animate SLOW FADE*/
.fade-slow.ng-animate {
  transition: opacity 3s ease-in-out;
}
.fade-slow.ng-enter {
  opacity: 0;
}
.fade-slow.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade-slow.ng-leave {
  opacity: 1;
}
.fade-slow.ng-leave.ng-leave-active {
  opacity: 0;
}

/* Background Max */
@media only screen and (min-width: 528px) {
  #start .container{
    background-size: 528px 825px;
  }
}

/* Horizontal Layout = Larger than Portrait iPad */
@media only screen and (min-width: 768px) {

}

/* Desktop = Larger than Landscape iPad */
@media only screen and (min-width: 1024px) {
  .agency-or-porn-logo{
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    bottom: auto;
    margin: auto;
  }
  #start .container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/legs-horizontal.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 940px 590px;
    /*background-size: contain;*/
  }
  /* Title */
  #start h2{
    margin-top: 275px;
    padding: 0 20px;
    color: white;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
  }
  .question-wrapper{
    height: 100%;
  }
  .question-circle {
    z-index: 3;
    position: absolute;
    top: -120px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url('../img/agency-or-porn-logo-white.png');
    background-size: 100px 100px;
    color: rgba(239,102,148,1);
    font-size: 26px;
    line-height: 100px;
  }
  .question-half, .question-porn{
    height: 100%;
    padding: 70px 0 30px 0;
  }
  .question-image {
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
  }
}

/* Large Desktop = Wider than 1440px */
@media only screen and (min-width: 1440px) {

}
