/* GLOBAL STYLES */
html{

}

body{
  background: #EF6694;
}

.agency-or-porn-logo{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  background-image: url('../img/agency-or-porn-logo.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100px 100px;

}

/* LOADING PAGE */
#loading{

}

/* START PAGE */
#start{

}

/* QUESTION PAGE */
#question{

}
