<div id="question" data-ng-controller="QuestionCtrl">
  <div data-ng-switch="state" data-ng-animate-children>
    <div data-ng-switch-when="loaded" class="fade container">
      <!-- TITLE -->
      <h2 data-ng-bind="current.title"></h2>
      <!-- QUESTION CIRCLE -->
      <a data-ng-href="#/">
        <div class="question-circle">
        </div>
      </a>
      <div class="question-wrapper">
        <div class="score-wrapper">
          <div class="score">
            <img src="img/icon-check.png"/>
            <span data-ng-bind="score.right"></span>
          </div>
          <div class="score">
            <img src="img/icon-cross.png"/>
            <span data-ng-bind="score.wrong"></span>
          </div>
        </div>
        <div class="row">
          <!-- AGENCY -->
          <div class="question-half question-agency large-6 columns" data-ng-switch="correct" data-ng-animate-children>
            <div data-ng-switch-when="unknown" class="vert-centered">
              <img class="question-image" data-ng-src="{{ image.a }}" />
              <div class="button" data-ng-click="select('agency')"><img src="img/button-agency.png"/></div>
            </div>
            <div data-ng-switch-default class="vert-centered">
              <div data-ng-switch="current.answer">
                <div data-ng-switch-when="porn" class="fade-slow">
                  <div data-ng-switch="correct" class="correct">
                    <div data-ng-switch-when="yes">YOU&rsquo;RE RIGHT</div>
                    <div data-ng-switch-when="no">YOU&rsquo;RE WRONG</div>
                  </div>
                  <div class="question-year">
                    <a data-ng-href="http://{{ current.url }}" target="_blank">
                      <span data-ng-bind="current.title"></span>
                      <span> / </span>
                      <span data-ng-bind="current.year"></span>
                    </a>
                  </div>
                  <div class="question-cast">
                    <div class="row">
                      <div class="small-6 columns">
                        <div data-ng-repeat="member in current.cast" data-ng-if="$even" data-ng-bind="member"></div>
                      </div>
                      <div class="small-6 columns">
                        <div data-ng-repeat="member in current.cast" data-ng-if="$odd" data-ng-bind="member"></div>
                      </div>
                    </div>
                  </div>
                  <a data-ng-href="#/{{ next.slug }}" class="button next"><img src="img/button-next-pink.png"/></a>
                </div>
                <div data-ng-switch-default>
                  <img class="question-image" data-ng-src="{{ image.a }}" />
                  <div class="button disabled"><img src="img/button-agency.png"/></div>
                </div>
              </div>
            </div>
          </div>
          <!-- PORN -->
          <div class="question-half question-porn large-6 columns" data-ng-switch="correct" data-ng-animate-children>
            <div data-ng-switch-when="unknown" class="vert-centered">
              <img class="question-image" data-ng-src="{{ image.p }}" />
              <div class="button" data-ng-click="select('porn')"><img src="img/button-porn.png"/></div>
            </div>
            <div data-ng-switch-default class="vert-centered">
              <div data-ng-switch="current.answer">
                <div data-ng-switch-when="agency" class="fade-slow">
                  <div data-ng-switch="correct" class="correct">
                    <div data-ng-switch-when="yes">YOU&rsquo;RE RIGHT</div>
                    <div data-ng-switch-when="no">YOU&rsquo;RE WRONG</div>
                  </div>
                  <div class="question-url">
                    <a data-ng-href="http://{{ current.url }}" target="_blank" data-ng-bind="current.url"></a>
                  </div>
                  <div class="question-description">
                    <span>&lsquo;</span>
                    <span data-ng-bind="current.description"></span>
                    <span>&rsquo;</span>
                  </div>
                  <a data-ng-href="#/{{ next.slug }}" class="button next"><img src="img/button-next-white.png"/></a>
                </div>
                <div data-ng-switch-default>
                  <img class="question-image" data-ng-src="{{ image.p }}" />
                  <div class="button disabled"><img src="img/button-porn.png"/></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-switch-default class="fade">
      <div data-ap-loading></div>
    </div>
  </div>
  <div data-ap-audio data-correct="yes"></div>
  <div data-ap-audio data-correct="no"></div>
</div>
