<div id="start" data-ng-controller="StartCtrl">
  <div data-ng-switch="state">
    <!-- CONTENT -->
    <div data-ng-switch-when="loaded" class="fade container">
      <div class="agency-or-porn-logo"></div>
      <h2>Can you tell the difference between the masters of sex and the masters of selling? Guess which of these tantalizing names belong to <em>agencies</em> and which ones are <em>adult films</em>.
      <a data-ng-href="#/{{ current.slug }}" class="button"><img src="img/button-start.png"/></a>
      <!--
      <div class="fixed-footer">
        <h3>Straight from the minds at 88 Creative</h3>
      </div>
    -->
    </div>
    <!---->
    <div data-ng-switch-default class="fade">
      <div data-ap-loading></div>
    </div>
  </div>
</div>
