<div id="start" data-ng-controller="StartCtrl">
  <div data-ng-switch="state">
    <!-- CONTENT -->
    <div data-ng-switch-when="loaded" class="fade container">
      <div class="agency-or-porn-logo"></div>
      <h2>We’ve hand selected <em>advertising</em> agencies and adult <em>films</em> from around the world, and want you to pick which ones which.</h2>
      <a data-ng-href="#/{{ current.slug }}" class="button"><img src="../img/button-start.png"/></a>
      <div class="fixed-footer">
        <h3>Straight from the minds at 88 Creative</h3>
      </div>
    </div>
    <!---->
    <div data-ng-switch-default class="fade">
      <div data-ap-loading></div>
    </div>
  </div>
</div>
